<form action="/answer">
  <input id="question-input" type="text" name="question" placeholder="Ask something to the Coach!">
  <p>Ask your coach anything</p>
  <button class="question-submit" type="submit" value="question">Ask</button>
</form>
